<md-bottom-sheet class="md-grid">
    <md-list flex layout="row" layout-align="center center">
        <div layout="column" ng-repeat="action in vm.service.getAvailableActions()" layout-align="center center">
            <md-button
                class="md-fab md-primary"
                ng-click="vm.setCurrentActionInSheet($index)"
                aria-label="{{action.label}}">
                <md-icon
                    md-svg-icon="{{action.icon}}"
                    ng-class="{ 'active': vm.service.getCurrentAction() === $index }"></md-icon>
            </md-button>
            <span class="md-body-2">{{action.label}}</span>
        </div>
    </md-list>
</md-bottom-sheet>
