h1#frontLogo
{
    font-family: 'Kingthings Trypewriter';
    font-size: 84pt;
    text-align: center;
    margin: 40px auto;
}

#frontDescription
{
    text-align: center;
    font-size: 24pt;
}

#newsProgressIndicator
{
    text-align: center;
}
