{
    "globals": {
        "angular": true,
        "inject": true,
        "_": true,
        "d3": true,
        "expect": true,
        "sinon": true,
        "$": true,
        "Promise": true,
        "pluralize": true,
        "Modernizr": true,
        "moment": true,
        "humanizeDuration": true
    },
    "extends": "semistandard",
    "env": {
        "mocha": true,
        "browser": true,
        "es6": false,
        "protractor": true
    },
    "rules": {
        "indent": ["error", 4, { "MemberExpression": 0 }],
        "space-before-function-paren": [2, "never"],
        "one-var": [2, "always"],
        "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
        "curly": [2, "multi-or-nest", "consistent"],
        "dot-location": ["error", "property"],
        "no-unneeded-ternary": ["error", { "defaultAssignment": false }],
        "max-nested-callbacks": ["error", 3]
    },
    "plugins": ["promise"]
}
