@import 'games/games.scss';
@import 'games/view/view.scss';
@import 'main/main.scss';
@import 'profile/profile.scss';
@import 'components/map/map.scss';
@import 'components/gamelistitem/gamelistitem.scss';
@import 'components/gametools/gametools.scss';
@import 'components/gametoolsprovincelistitem/gametoolsprovincelistitem.scss';

@font-face
{
    font-family: 'Kingthings Trypewriter';
    src: url('../assets/fonts/kingthingstrypewriter_regular_macroman/Kingthings_Trypewriter_2-webfont.eot');
    src: url('../assets/fonts/kingthingstrypewriter_regular_macroman/Kingthings_Trypewriter_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/kingthingstrypewriter_regular_macroman/Kingthings_Trypewriter_2-webfont.woff') format('woff'),
         url('../assets/fonts/kingthingstrypewriter_regular_macroman/Kingthings_Trypewriter_2-webfont.ttf') format('truetype'),
         url('../assets/fonts/kingthingstrypewriter_regular_macroman/Kingthings_Trypewriter_2-webfont.svg#kingthings_trypewriter_2Rg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body
{
    min-height: 100%;
    height: 100%;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 300;

    font-size: 14px;
    @media (min-width: 800px)
    {
        font-size: 18px;
    }
    @media (min-width: 1200px)
    {
        font-size: 16px;
    }
}

h1
{
    font-size: 4.946em;
    font-weight: 300;
}
h2
{
    font-size: 3.498em;
    font-weight: 300;
}
h3
{
    font-size: 2.474em;
    font-weight: 300;
}
h4
{
    font-size: 1.75em;
    font-weight: 300;
}
h5
{
    font-size: 1.237em;
    font-weight: 300;
}
h6
{
    font-size: 4.946em;
    font-weight: 300;
}

input
{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

footer
{
    text-align: center;
    padding: 20px;
}

.stab
{
    color: #da2721;
}

span.logo
{
    font-family: 'Kingthings Trypewriter';
    text-transform: lowercase;
    font-size: 24pt;
    color: #000;
}

.typewriter
{
    font-family: 'Kingthings Trypewriter';
}

md-toolbar h1
{
    padding-left: 15px;
}

div.info span.email
{
    color: #000;
    font-family: 'Kingthings Trypewriter';
    font-size: 14pt;
    padding: 11px 5px;
}

.tab-pane
{
    padding: 0 10px 10px 10px;
}

.md-whiteframe-2dp
{
    background-color: #fff;
}

md-icon.svg48px
{
    height: 48px;
    width: 48px;
    cursor: pointer;
}

// Angular Material's chips are crazy big.
md-chip
{
    font-size: 12px;
    line-height: 20px;
    height: 24px;

    md-icon
    {
        height: 14px;
        width: 14px;
        min-height: 14px;
        min-width: 14px;
    }
}
