sg-province-list-item
{
    span.source
    {
        font-weight: bold;
    }

    span.failed
    {
        color: #f00;
        text-decoration-style: dotted;
    }

    span.target
    {
        font-weight: bold;
    }
}
