<div>
    <div class="order" ng-class="{'failed': vm.service.orderDidFail(vm.province.Province)}">
        <span class="source">{{vm.province.Province.toUpperCase()}}</span>
        <span class="action">{{vm.renderOrderSymbol()}}</span>
        <span class="target">{{vm.renderOrderTarget()}}</span>
        <span class="targetAction">{{vm.renderActionOfTarget()}}</span>
        <span class="targetOfTarget">{{vm.renderOrderTargetOfTarget()}}</span>
        <span class="extraInfo">{{vm.renderExtraInfo()}}</span>
    </div>
    <md-tooltip ng-if="vm.renderResolution()" md-direction="left">{{vm.renderResolution()}}</md-tooltip>
    <md-divider></md-divider>
</div>
