<div class="md-whiteframe-2dp">
    <md-toolbar class="md-toolbar-tools" id="mapToolbar" ng-if="$ctrl.header">
        <div layout="column" layout-align="center center">
            <span>{{$ctrl.service.getCurrentPhase().Season + ' ' + $ctrl.service.getCurrentPhase().Type + ' ' + $ctrl.service.getCurrentPhase().Year}}</span>
            <div class="md-caption">{{$ctrl.getReadableDeadline($ctrl.service.game, $ctrl.service.getCurrentPhase())}}</div>
        </div>
        <span flex></span>
        <div ng-if="!$ctrl.readonly && $ctrl.service.isUserInputExpected()">
            <md-button class="md-icon-button" aria-label="Change action" hide-gt-sm ng-click="$ctrl.showOrderSheet()">
                <md-icon class="active" md-svg-icon="{{$ctrl.service.getCurrentAction().toLowerCase()}}"></md-icon>
                <md-tooltip>Change action</md-tooltip>
            </md-button>
            <md-button ng-if="$ctrl.service.userCanPerformAction('Movement')" ng-click="$ctrl.service.setCurrentAction('Hold')" class="md-icon-button" aria-label="Hold" hide-sm hide-xs>
                <md-icon md-svg-icon="hold" ng-class="{'active': $ctrl.service.getCurrentAction() === 'Hold' }"></md-icon>
                <md-tooltip>Hold</md-tooltip>
            </md-button>
            <md-button ng-if="$ctrl.service.userCanPerformAction('Movement') || $ctrl.service.userCanPerformAction('Retreat')" ng-click="$ctrl.service.setCurrentAction('Move')" class="md-icon-button" aria-label="Move" hide-sm hide-xs>
                <md-icon md-svg-icon="move" ng-class="{'active': $ctrl.service.getCurrentAction() === 'Move' }"></md-icon>
                <md-tooltip>Move</md-tooltip>
            </md-button>
            <md-button ng-if="$ctrl.service.userCanPerformAction('Movement')" ng-click="$ctrl.service.setCurrentAction('Support')" class="md-icon-button" aria-label="Support" hide-sm hide-xs>
                <md-icon md-svg-icon="join" ng-class="{'active': $ctrl.service.getCurrentAction() === 'Support' }"></md-icon>
                <md-tooltip>Support</md-tooltip>
            </md-button>
            <md-button ng-if="$ctrl.service.userCanPerformAction('Movement')" ng-click="$ctrl.service.setCurrentAction('Convoy')" class="md-icon-button" aria-label="Convoy" hide-sm hide-xs>
                <md-icon md-svg-icon="convoy" ng-class="{'active': $ctrl.service.getCurrentAction() === 'Convoy' }"></md-icon>
                <md-tooltip>Convoy</md-tooltip>
            </md-button>
            <md-button ng-if="$ctrl.service.userCanPerformAction('Adjustment', 'Build', 'Army')" ng-click="$ctrl.service.setCurrentAction('Build-Army')" class="md-icon-button" aria-label="Build" hide-sm hide-xs>
                <md-icon md-svg-icon="join" ng-class="{'active': $ctrl.service.getCurrentAction() === 'Build' }"></md-icon>
                <md-tooltip>Build Army</md-tooltip>
            </md-button>
            <md-button ng-if="$ctrl.service.userCanPerformAction('Adjustment', 'Build', 'Fleet')" ng-click="$ctrl.service.setCurrentAction('Build-Fleet')" class="md-icon-button" aria-label="Build" hide-sm hide-xs>
                <md-icon md-svg-icon="join" ng-class="{'active': $ctrl.service.getCurrentAction() === 'Build' }"></md-icon>
                <md-tooltip>Build Fleet</md-tooltip>
            </md-button>
            <md-button ng-if="$ctrl.service.userCanPerformAction('Adjustment', 'Disband') || $ctrl.service.userCanPerformAction('Retreat')" ng-click="$ctrl.service.setCurrentAction('Disband')" class="md-icon-button" aria-label="Disband" hide-sm hide-xs>
                <md-icon md-svg-icon="join" ng-class="{'active': $ctrl.service.getCurrentAction() === 'Disband' }"></md-icon>
                <md-tooltip>Disband</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>

    <div id="mapContainer" class="mapContainer" ng-class="{'notStarted': !$ctrl.service.game.Started}" ng-style="{'background-image':'url({{$ctrl.imagePath}})'}">
        <svg width="100%" ng-attr-view_box="{{$ctrl.viewBox}}">
            <defs>
                <marker id="move" viewBox="0 -5 10 10" markerWidth="5" markerHeight="5" orient="auto">
                    <path d="M0,-5L10,0L0,5"></path>
                </marker>
                <marker id="failedmove" viewBox="0 -5 10 10" markerWidth="5" markerHeight="5" orient="auto">
                    <path d="M0,-5L10,0L0,5"></path>
                </marker>
                <marker id="support" viewBox="-6 -6 12 12" markerWidth="5" markerHeight="5" orient="auto">
                    <path d="M 0,0m -5,0a 5,5 0 1,0 10,0 a 5,5 0 1,0 -10,0"></path>
                </marker>
                <marker id="failedsupport" viewBox="-6 -6 12 12" markerWidth="5" markerHeight="5" orient="auto">
                    <path d="M 0,0m -5,0a 5,5 0 1,0 10,0 a 5,5 0 1,0 -10,0"></path>
                </marker>
                <marker id="convoy" viewBox="-1 -5 2 10" markerWidth="5" markerHeight="5" orient="auto">
                    <path d="M 0,0 m -1,-5 L 1,-5 L 1,5 L -1,5 Z"></path>
                </marker>
                <marker id="failedconvoy" viewBox="-1 -5 2 10" markerWidth="5" markerHeight="5" orient="auto">
                    <path d="M 0,0 m -1,-5 L 1,-5 L 1,5 L -1,5 Z"></path>
                </marker>
                <filter id="new" x="-2" y="-2" width="4" height="4">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="5" />
                </filter>
            </defs>
            <g class="scLayer" ng-if="$ctrl.service.game.Started">
                <path xmlns:xlink="http://www.w3.org/1999/xlink"
                     ng-repeat="sc in $ctrl.service.getAllSCs()"
                     d="m 15.64,213.212 117.92,105.865 -33.174,154.959 c -1.035,4.834 0.876,9.824 4.876,12.729 3.999,2.906 9.335,3.181 13.613,0.704 l 137.124,-79.434 137.124,79.434 c 1.944,1.126 4.107,1.684 6.265,1.684 2.588,0 5.167,-0.802 7.348,-2.387 4,-2.906 5.911,-7.896 4.876,-12.729 L 378.44,319.077 496.359,213.212 c 3.679,-3.302 5.065,-8.462 3.538,-13.164 -1.528,-4.702 -5.683,-8.061 -10.6,-8.571 L 331.671,175.143 267.425,30.279 c -2.004,-4.519 -6.483,-7.432 -11.427,-7.432 -4.944,0 -9.423,2.914 -11.427,7.433 L 180.329,175.143 22.702,191.477 c -4.917,0.51 -9.072,3.869 -10.6,8.571 -1.528,4.702 -0.141,9.862 3.538,13.164 z"
                     ng-attr-transform="{{$ctrl.service.getSCTransform(sc)}}"
                     ng-attr-fill="{{$ctrl.service.getSCFill(sc)}}"
                     class="sc">
                </path>
            </g>
            <!-- TODO: Break into separate component -->
            <g class="mouseLayer">
                <path ng-repeat="(p, d) in $ctrl.paths"
                      id="{{p}}"
                      ng-attr-d="{{d}}"
                      ng-click="$ctrl.inputOrder(p)"
                      ng-class="{'clicked': $ctrl.service.isInPendingCommand(p)}">
                </path>
            </g>

            <!-- NEW UNIT 'GLOW' -->
            <g class="glowLayer">
                <circle ng-repeat="order in $ctrl.service.orders | buildOrders"
                    r="13"
                    fill="yellow"
                    ng-attr-filter="{{$ctrl.service.generateGlow()}}"
                    ng-attr-cx="{{$ctrl.service.variant.Graph.Nodes[order.Properties.Parts[0].toUpperCase()].x}}"
                    ng-attr-cy="{{$ctrl.service.variant.Graph.Nodes[order.Properties.Parts[0].toUpperCase()].y}}">
                </circle>
            </g>

            <g class="unitLayer">
                <circle ng-repeat-start="province in $ctrl.service.getCurrentPhase().Units"
                    ng-if="province.Unit.Type === 'Army'"
                    id="{{province.Province.toUpperCase()}}-army"
                    r="8"
                    ng-attr-cx="{{$ctrl.service.variant.Graph.Nodes[province.Province.toUpperCase()].x}}"
                    ng-attr-cy="{{$ctrl.service.variant.Graph.Nodes[province.Province.toUpperCase()].y}}"
                    ng-attr-fill="{{$ctrl.service.variant.Powers[province.Unit.Nation[0]].colour}}">
                </circle>

                <rect ng-if="province.Unit.Type === 'Fleet'"
                    id="{{province.Province.toUpperCase()}}-fleet"
                    height="8"
                    width="16"
                    ng-attr-x="{{$ctrl.service.variant.Graph.Nodes[province.Province.toUpperCase()].x - 16/2}}"
                    ng-attr-y="{{$ctrl.service.variant.Graph.Nodes[province.Province.toUpperCase()].y - 8/2}}"
                    ng-attr-fill="{{$ctrl.service.variant.Powers[province.Unit.Nation[0]].colour}}">
                </rect>

                <path ng-if="$ctrl.service.orderIsDisband(province.Province)"
                    class="disband"
                    d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
                    ng-attr-transform="{{$ctrl.service.getDisbandTransform($ctrl.service.variant.Graph.Nodes[province.Province.toUpperCase()])}}"
                    ng-repeat-end>
                </path>

                <circle ng-repeat-start="province in $ctrl.service.getCurrentPhase().Dislodgeds"
                    ng-if="province.Dislodged.Type === 'Army'"
                    class="dislodged"
                    id="{{province.Province.toUpperCase()}}-army-dislodged"
                    r="8"
                    ng-attr-cx="{{$ctrl.service.variant.Graph.Nodes[province.Province.toUpperCase()].x + 10}}"
                    ng-attr-cy="{{$ctrl.service.variant.Graph.Nodes[province.Province.toUpperCase()].y + 10}}"
                    ng-attr-fill="{{$ctrl.service.variant.Powers[province.Dislodged.Nation[0]].colour}}">
                </circle>

                <rect ng-if="province.Dislodged.Type === 'Fleet'"
                    id="{{province.Province.toUpperCase()}}-fleet-dislodged"
                    class="dislodged"
                    height="8"
                    width="16"
                    ng-attr-x="{{$ctrl.service.variant.Graph.Nodes[province.Province.toUpperCase()].x - 16/2 + 10}}"
                    ng-attr-y="{{$ctrl.service.variant.Graph.Nodes[province.Province.toUpperCase()].y - 8/2 + 10}}"
                    ng-attr-fill="{{$ctrl.service.variant.Powers[province.Dislodged.Nation[0]].colour}}"
                    ng-repeat-end>
                </rect>

            </g>

            <g class="orderLayer">
                <!-- MOVE -->
                <path ng-repeat-start="order in $ctrl.service.orders"
                    id="{{order.Properties.Parts[0].toUpperCase() + '-order'}}"
                    ng-if="order.Properties.Parts[1] === 'Move'"
                    class="move"
                    ng-class="{'failed': $ctrl.service.orderDidFail(order.Properties.Parts[0])}"
                    ng-attr-d="{{$ctrl.service.generateArc(order.Properties.Parts[0], order.Properties.Parts[2])}}"
                    ng-attr-marker-end="{{$ctrl.service.generateMarkerEnd(order.Properties.Parts)}}">
                </path>

                <!-- SUPPORT + MOVE -->
                <path ng-if="order.Properties.Parts[1] === 'Support' && order.Properties.Parts[2] !== order.Properties.Parts[3]"
                    id="{{order.Properties.Parts[0].toUpperCase() + '-order'}}"
                    class="move"
                    ng-class="{'failed': $ctrl.service.orderDidFail(order.Properties.Parts[0])}"
                    ng-attr-d="{{$ctrl.service.generateBisectingLine(order.Properties.Parts[0], order.Properties.Parts[2], order.Properties.Parts[3])}}"
                    ng-attr-marker-end="{{$ctrl.service.generateMarkerEnd(order.Properties.Parts)}}">
                </path>

                <!-- SUPPORT + HOLD -->
                <path ng-if="order.Properties.Parts[1] === 'Support' && order.Properties.Parts[2] === order.Properties.Parts[3]"
                    id="{{order.Properties.Parts[0].toUpperCase() + '-order'}}"
                    class="move"
                    ng-class="{'failed': $ctrl.service.orderDidFail(order.Properties.Parts[0])}"
                    ng-attr-d="{{$ctrl.service.generateArc(order.Properties.Parts[0], order.Properties.Parts[2])}}"
                    ng-attr-marker-end="{{$ctrl.service.generateMarkerEnd(order.Properties.Parts)}}">
                </path>

                <!-- CONVOY -->
                <g ng-if="order.Properties.Parts[1] === 'Convoy'">
                    <path id="{{order.Properties.Parts[0].toUpperCase() + '-convoy-1'}}"
                        class="move"
                        ng-class="{'failed': $ctrl.service.orderDidFail(order.Properties.Parts[0])}"
                        ng-attr-d="{{$ctrl.service.generateLine(order.Properties.Parts[0], order.Properties.Parts[2])}}"
                        ng-attr-marker-start="{{$ctrl.service.generateMarkerEnd(order.Properties.Parts)}}"
                        ng-attr-marker-end="{{$ctrl.service.generateMarkerEnd(order.Properties.Parts)}}">
                    </path>

                    <path id="{{order.Properties.Parts[0].toUpperCase() + '-convoy-2'}}"
                        class="move"
                        ng-class="{'failed': $ctrl.service.orderDidFail(order.Properties.Parts[0])}"
                        ng-attr-d="{{$ctrl.service.generateLine(order.Properties.Parts[0], order.Properties.Parts[3])}}"
                        ng-attr-marker-start="{{$ctrl.service.generateMarkerEnd(order.Properties.Parts)}}"
                        ng-attr-marker-end="{{$ctrl.service.generateMarkerEnd(order.Properties.Parts)}}">
                    </path>
                </g>

                <!-- HOLD -->
                <circle ng-if="order.Properties.Parts[1] === 'Hold'"
                    id="{{order.Properties.Parts[0].toUpperCase() + '-order'}}"
                    ng-attr-cx="{{$ctrl.service.variant.Graph.Nodes[order.Properties.Parts[0].toUpperCase()].x}}"
                    ng-attr-cy="{{$ctrl.service.variant.Graph.Nodes[order.Properties.Parts[0].toUpperCase()].y}}"
                    r="14"
                    class="hold">
                </circle>

                <!-- NEW UNITS -->
                <circle ng-if="order.Properties.Parts[1] === 'Build' && order.Properties.Parts[2] === 'Army'"
                    id="{{order.Properties.Parts[0].toUpperCase()}}-army"
                    r="8"
                    stroke="#000"
                    stroke-width="1px"
                    ng-attr-cx="{{$ctrl.service.variant.Graph.Nodes[order.Properties.Parts[0].toUpperCase()].x}}"
                    ng-attr-cy="{{$ctrl.service.variant.Graph.Nodes[order.Properties.Parts[0].toUpperCase()].y}}"
                    ng-attr-fill="{{$ctrl.service.variant.Powers[order.Properties.Nation[0]].colour}}">
                </circle>

                <rect ng-if="order.Properties.Parts[1] === 'Build' && order.Properties.Parts[2] === 'Fleet'"
                      id="{{order.Properties.Parts[0].toUpperCase()}}-fleet"
                      height="8"
                      width="16"
                      stroke="#000"
                      stroke-width="1px"
                      ng-attr-x="{{$ctrl.service.variant.Graph.Nodes[order.Properties.Parts[0].toUpperCase()].x - 16/2}}"
                      ng-attr-y="{{$ctrl.service.variant.Graph.Nodes[order.Properties.Parts[0].toUpperCase()].y - 8/2}}"
                      ng-attr-fill="{{$ctrl.service.variant.Powers[order.Properties.Nation[0]].colour}}"
                      ng-repeat-end>
                </rect>
            </g>
        </svg>
    </div>

    <md-toolbar class="md-toolbar-tools" id="mapNavToolbar" ng-if="$ctrl.header && $ctrl.service.game.Started">
        <md-icon md-menu-origin md-svg-icon="first" ng-click="$ctrl.goToOrdinal(1)" class="svg48px"></md-icon>
        <md-icon md-menu-origin md-svg-icon="previous" ng-click="$ctrl.addToOrdinal(-1)" class="svg48px"></md-icon>
        <span hide-sm hide-xs>Previous</span>
        <span flex></span>
        <span hide-sm hide-xs>Next</span>
        <md-icon md-menu-origin md-svg-icon="next" ng-click="$ctrl.addToOrdinal(1)" class="svg48px"></md-icon>
        <md-icon md-menu-origin md-svg-icon="last" ng-click="$ctrl.goToOrdinal(null)" class="svg48px"></md-icon>
    </md-toolbar>
</div>
