#mapToolbar md-icon.active svg
{
    fill: yellow;
}

#mapNavToolbar svg
{
    fill: #fff;
}

.mapContainer
{
    background-repeat: no-repeat;
    background-size: 100%;

    &.notStarted
    {
        opacity: 0.3;
    }
}

.sc
{
    stroke: #000;
    stroke-width: 30px;
}

g.unitLayer
{
    stroke: #000;
    stroke-width: 1px;

    .disband
    {
        stroke-width: 2px;
        stroke: #f00;
        opacity: 0.8;
    }

    .dislodged
    {
        stroke-width: 3px;
        stroke: #f00;
    }
}

g.orderLayer
{
    path.move, circle.hold
    {
        fill: none;
        stroke-width: 3px;
        stroke: #000;

        &.failed
        {
            stroke: #f00;
            stroke-dasharray: 10, 5;
        }
    }

    .new
    {
        background: rgba(241,231,103,1);
        /* Old Browsers */background: -moz-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,0) 100%);
        /* FF3.6+ */background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,0)));
        /* Chrome, Safari4+ */background: -webkit-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,0) 100%);
        /* Chrome10+,Safari5.1+ */background: -o-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,0) 100%);
        /* Opera 11.10+ */background: -ms-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,0) 100%);
        /* IE 10+ */background: radial-gradient(ellipse at center, rgba(241,231,103,1) 0%, rgba(254,182,69,0) 100%);
        /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
    }
}

/* ARROWHEADS
 *
 * SVG 1.x lameness: CSS must be defined on a per-marker basis. See http://stackoverflow.com/a/16665510/260460.
 * Supposedly made easier by SVG 2, but browser support is low to nil.
 */
marker#move, marker#support, marker#convoy
{
    fill: #000;
}

marker#failedmove, marker#failedsupport, marker#failedconvoy
{
    fill: #f00;
}

/* HOVER */
g.mouseLayer path
{
    fill: #000;
    fill-opacity: 0.0;
    outline: none;

    &:hover
    {
        fill-opacity: 0.1;
        cursor: pointer;
    }

    &.clicked
    {
        transition-property: fill, fill-opacity;
        transition-duration: 0.2s;
        transition-timing-function: linear;
        fill: #a00;
        fill-opacity: 0.5;
    }
}

h1.notStarted
{
    position: absolute;
    z-index: 10;
    padding: 100px;
}

h1.started
{
    display: none;
}
