@import '../presschannel/presschannel.scss';

sg-game-tools
{
    min-height: 600px;
    md-sidenav
    {
        width: 100%;
        max-width: 100%;
    }

    #recipientChips
    {
        *
        {
            box-shadow: none;
        }
    }
}
