<div layout="row" flex>
    <md-tabs md-border-bottom flex>
        <md-tab>
            <md-tab-label>Orders</md-tab-label>
            <md-tab-body>
                <div layout="row" layout-align="center" ng-if="$ctrl.service.game.Started && $ctrl.gameService.isPlayer($ctrl.service.game)">
                    <md-switch ng-model="$ctrl.service.phaseState.ReadyToResolve" ng-change="$ctrl.setPhaseState()">
                        <span class="md-title">{{$ctrl.service.phaseState.ReadyToResolve ? 'Ready!' : 'Not ready'}}</span>
                    </md-switch>
                </div>

                <section ng-if="$ctrl.service.game.Started" ng-repeat="nation in $ctrl.service.variant.Nations" class="section-{{code}}">
                    <md-subheader>{{nation}}</md-subheader>
                    <md-list>
                        <md-list-item id="{{province.Province.toUpperCase() + '-order'}}" ng-repeat="province in $ctrl.service.getCurrentPhase().Units" ng-if="province.Unit.Nation === nation">
                            <sg-province-list-item province="province" service="$ctrl.service" />
                        </md-list-item>
                    </md-list>
                </section>
            </md-tab-body>
        </md-tab>

        <md-tab md-on-select="$ctrl.refreshPress()" ng-if="$ctrl.gameService.getCurrentUserInGame($ctrl.service.game)">
            <md-tab-label>Press</md-tab-label>
            <md-tab-body>
                <md-subheader>Compose New Press</md-subheader>
                <md-sidenav class="md-sidenav-right" md-component-id="press-channel" md-whiteframe="0">
                </md-sidenav>

                <div layout="column" layout-padding>
                    <div>
                        <sg-press-channel-members members="$ctrl.channelMembers" variant="$ctrl.service.variant" locked="false" />
                    </div>
                    <div layout="row" layout-align="center center">
                        <md-button class="md-accent md-raised" aria-label="Compose new press" ng-click="$ctrl.openPressChannel()">Go</md-button>
                    </div>
                </div>

                <md-subheader>Current Channels</md-subheader>
                <md-list>
                    <md-list-item ng-repeat="channel in $ctrl.channels" layout="row">
                        <sg-press-channel channel="channel" layout="row" flex />
                    </md-list-item>
                </md-list>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>
