<div layout="row" flex>
    <md-tabs md-border-bottom flex>
        <md-tab>
            <md-tab-label>Orders</md-tab-label>
            <md-tab-body>
                <div layout="row" layout-align="center" ng-if="$ctrl.service.game.status === 1 && $ctrl.gameService.isPlayer($ctrl.service.game)" style="display: none">
                    <md-switch ng-model="$ctrl.currentUserInGame.isReady" ng-change="$ctrl.setReadyState()">
                        <span class="md-title">{{$ctrl.currentUserInGame.isReady ? 'Ready!' : 'Not ready'}}</span>
                    </md-switch>
                </div>

                <section ng-if="$ctrl.service.game.Started" ng-repeat="nation in $ctrl.service.variant.Nations" class="section-{{code}}">
                    <md-subheader>{{nation}}</md-subheader>
                    <md-divider></md-divider>
                    <md-list>
                        <md-list-item ng-repeat="province in $ctrl.service.getCurrentPhase().Properties.Units" ng-if="province.Unit.Nation === nation">
                            <sg-province-list-item province="province" />
                        </md-list-item>
                    </md-list>
                </section>
            </md-tab-body>
        </md-tab>

        <md-tab ng-disabled="$ctrl.service.game.Finished || !$ctrl.service.game.Started || !$ctrl.service.isPlayer($ctrl.service.game)">
            <md-tab-label>Actions</md-tab-label>
            <md-tab-body>
                <!-- <md-list>
                    <md-list-item ng-if="$ctrl.gameService.isGM($ctrl.service.game) && $ctrl.service.game.status === 1" ng-click="$ctrl.actions.adjudicateNow()">
                        <div><span>Adjudicate now</span></div>
                        <md-divider></md-divider>
                    </md-list-item>

                    <md-list-item ng-if="$ctrl.gameService.isGM($ctrl.service.game)" ng-click="$ctrl.actions.excusePlayer()">
                        <div><span>Excuse player</span></div>
                        <md-divider></md-divider>
                    </md-list-item>

                    <md-list-item ng-if="$ctrl.gameService.isGM($ctrl.service.game)" ng-click="$ctrl.actions.bootPlayer()">
                        <div><span>Boot player</span></div>
                        <md-divider></md-divider>
                    </md-list-item>

                    <md-list-item ng-if="$ctrl.gameService.isGM($ctrl.service.game)" ng-click="$ctrl.actions.endGame()">
                        <div><span>End game</span></div>
                        <md-divider></md-divider>
                    </md-list-item>

                    <md-list-item ng-if="$ctrl.gameService.isPlayer($ctrl.service.game)" ng-click="$ctrl.actions.quitGame()">
                        <div><span>Quit game</span></div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list> -->
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>
