@import '../presschannel/presschannel.scss';

sg-game-tools
{
    min-height: 800px;
    @media (min-width: 800px)
    {
        min-height: inherit;
    }
    md-sidenav
    {
        width: 100%;
        max-width: 100%;
    }

    #channelList md-list-item
    {
        cursor: pointer;
    }

    #recipientChips
    {
        *
        {
            box-shadow: none;
        }
    }
}
