<div layout="row" flex>
    <md-tabs md-border-bottom flex>
        <md-tab>
            <md-tab-label>Orders</md-tab-label>
            <md-tab-body>
                <div layout="row" layout-align="center" ng-if="$ctrl.service.game.Started && $ctrl.gameService.isPlayer($ctrl.service.game)">
                    <md-switch ng-model="$ctrl.service.phaseState.ReadyToResolve" ng-change="$ctrl.setPhaseState()">
                        <span class="md-title">{{$ctrl.service.phaseState.ReadyToResolve ? 'Ready!' : 'Not ready'}}</span>
                    </md-switch>
                </div>

                <section ng-if="$ctrl.service.game.Started" ng-repeat="nation in $ctrl.service.variant.Nations" class="section-{{code}}">
                    <md-subheader>{{nation}}</md-subheader>
                    <md-divider></md-divider>
                    <md-list>
                        <md-list-item id="{{province.Province.toUpperCase() + '-order'}}" ng-repeat="province in $ctrl.service.getCurrentPhase().Units" ng-if="province.Unit.Nation === nation">
                            <sg-province-list-item province="province" service="$ctrl.service" />
                        </md-list-item>
                    </md-list>
                </section>
            </md-tab-body>
        </md-tab>

        <md-tab ng-disabled="$ctrl.service.game.Finished || !$ctrl.service.game.Started || !$ctrl.service.isPlayer($ctrl.service.game)">
            <md-tab-label>Actions</md-tab-label>
            <md-tab-body>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>
