<form name="newGameForm" ng-submit="vm.game.save()">
    <div layout="column" layout-padding layout-margin flex>
        <div class="md-whiteframe-2dp" layout="column">
            <md-input-container class="md-block">
                <label>Description</label>
                <textarea required ng-model="vm.game.Desc" columns="1" md-maxlength="150" rows="1"></textarea>
            </md-input-container>

            <div layout="row" layout-sm="column" flex>
                <md-select flex placeholder="Variant" ng-model="vm.game.Variant">
                    <md-option ng-value="variant" ng-repeat="variant in vm.variants">{{variant}}</md-option>
                </md-select>
            </div>
        </div>

        <v-accordion class="vAccordion--default md-whiteframe-z2" style="background-color:#fff" multiple>
            <v-pane>
                <v-pane-header class="md-headline">Deadlines</v-pane-header>
                <v-pane-content>
                    <div layout="row" layout-xs="column">
                        <div layout="column">
                            <span flex>Movement Phases</span>
                            <div layout="row">
                                <md-input-container class="md-block" flex>
                                    <label>Days</label>
                                    <input type="number" ng-model="vm.move.days" min="0">
                                </md-input-container>
                                <md-input-container class="md-block" flex>
                                    <label>Hours</label>
                                    <input type="number" ng-model="vm.move.hours" min="0">
                                </md-input-container>
                                <md-input-container class="md-block" flex>
                                    <label>Minutes</label>
                                    <input type="number" ng-model="vm.move.minutes" min="0">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </v-pane-content>
            </v-pane>

            <v-pane>
                <v-pane-header class="md-headline">Restrictions</v-pane-header>
                <v-pane-content>
                    <div layout="column">
                        <div layout="row" layout-margin>
                            <md-checkbox ng-model="vm.restrictions.minimum.enabled">Minimum rating</md-checkbox>
                            <md-slider-container flex>
                                <!-- TODO: Set max to current user's rating. -->
                                <md-slider ng-model="vm.restrictions.minimum.rating" ng-disabled="!vm.restrictions.minimum.enabled" step="25" md-discrete min="0" max="2500" aria-label="Minimum rating" flex></md-slider>
                            </md-slider-container>
                        </div>

                        <div layout="row" layout-margin>
                            <md-checkbox ng-model="vm.restrictions.maximum.enabled">Maximum rating</md-checkbox>
                            <md-slider-container flex>
                                <!-- TODO: Set max to current user's rating. -->
                                <md-slider ng-model="vm.restrictions.maximum.rating" ng-disabled="!vm.restrictions.maximum.enabled" step="25" md-discrete min="0" max="2500" aria-label="Maximum rating" flex></md-slider>
                            </md-slider-container>
                        </div>
                    </div>
                </v-pane-content>
            </v-pane>

            <div layout="row" layout-align="center center">
                <a ui-sref="profile.games"><md-button class="md-raised">Cancel</md-button></a>
                <md-button type="submit" class="md-raised md-primary" ng-disabled="newGameForm.$invalid">Create</md-button>
            </div>
        </v-accordion>
    </div>
</form>
