<md-tabs class="md-whiteframe-2dp" md-dynamic-height md-border-bottom style="margin: auto 20px">
    <md-tab label="Playing">
        <md-list>
            <md-list-item ng-repeat="game in vm.playing" class="gameItem">
                <sg-game-list-item game="game" joinable="false" />
            </md-list-item>
        </md-list>
        <div layout="row" layout-align="center center" layout-margin ng-if="!vm.playing.length">
            <h1 class="md-display-1">Nothing here.</h1>
        </div>
    </md-tab>
    <md-tab label="Waiting">
        <md-list>
            <md-list-item ng-repeat="game in vm.waiting" class="gameItem">
                <sg-game-list-item game="game" joinable="false" />
            </md-list-item>
        </md-list>
        <div layout="row" layout-align="center center" layout-margin ng-if="!vm.waiting.length">
            <h1 class="md-display-1">Nothing here.</h1>
        </div>
    </md-tab>
</md-tabs>
