sg-press-channel
{
    #pressChannel
    {
        max-height: 100%;

        #pressHistory
        {
            max-height: 350px;
            overflow-y: scroll;
        }

        .press
        {
            p.timestamp
            {
                color: #999;
                font-size: 10px !important;
            }
        }

        #newPressContainer md-input-container
        {
            margin: 20px 10px 0 10px !important;
        }
    }
}
