.gameItem
{
    cursor: pointer;
    background-color: #fff;

    &:hover
    {
        background-color: #eee;
    }

    .gameDetails
    {
        span
        {
            color: #999;
            padding-left: 8px;
            padding-bottom: 16px;
        }
    }
}

.mapDescription
{
    /* Label of item. */
    :first-child
    {
        padding-right: 10px;
        font-weight: 600;
    }
}
