<div layout="column" layout-fill>
    <div layout="row" layout-align="start center">
        <md-button style="padding: 0px;" class="md-icon-button md-accent" aria-label="Game details" ng-click="vm.showDetailsDialog()">
            <md-icon style="width: 36px; height: 36px;" md-svg-icon="info"></md-icon>
        </md-button>
        <div flex ui-sref="games.view({ id: '{{vm.game.ID}}' })">
            <div>
                <h1 class="md-title typewriter">{{vm.game.Desc}}</h1>
            </div>
            <div class="gameDetails" layout="row" layout-xs="column">
                <span>{{vm.service.getStatusDescription(vm.variant, vm.game, vm.currentPhase)}}</span>
                <span hide-xs>•</span>
                <span>{{vm.service.getReadableDeadline(vm.game, vm.currentPhase)}}</span>
            </div>
        </div>
        <div layout="column" layout-align="center center" ng-if="vm.joinable">
            <!-- HACK: Tooltip does not work on disabled buttons. -->
            <md-tooltip ng-if="vm.joinable && vm.reasonForNoJoin()">{{vm.reasonForNoJoin()}}</md-tooltip>
            <md-button id="joinButton" class="md-raised md-primary" ng-if="vm.joinable" ng-disabled="vm.reasonForNoJoin()" ng-click="vm.showJoinDialog()">Join</md-button>
        </div>
    </div>

    <md-divider flex></md-divider>
</div>
