sg-game-list-item
{
    width: 100%;
    cursor: pointer;
    background-color: transparent;

    .gameDetails
    {
        span
        {
            color: #999;
            padding-left: 8px;
            padding-bottom: 10px;
        }
    }

    #infoButtonMobile
    {
        margin-bottom: 16px;
    }
}

.mapDescription
{
    /* Label of item. */
    :first-child
    {
        padding-right: 10px;
        font-weight: 600;
    }
}

.noJoin
{
    color: #f00;
}
