<div layout="column" flex>
    <div layout="column" flex>
        <div layout="row" layout-align="space-between center" flex>
            <div flex ui-sref="games.view({ id: '{{vm.game.ID}}' })">
                <div>
                    <h1 class="md-title typewriter">{{vm.game.Desc}}</h1>
                </div>
                <div class="gameDetails" layout="row" layout-xs="column">
                    <span>{{vm.service.getStatusDescription(vm.variant, vm.game, vm.currentPhase)}}</span>
                    <span ng-if="vm.currentPhase && !vm.game.Finished" hide-xs>•</span>
                    <span>{{vm.service.getReadableDeadline(vm.game, vm.currentPhase)}}</span>
                </div>
            </div>
            <md-button id="infoButton" class="md-raised md-primary" ng-click="vm.showDetailsDialog()">Info</md-button>
        </div>
        <div hide-gt-xs layout="row" layout-align="center center">
            <md-button id="infoButtonMobile" class="md-raised md-primary" ng-click="vm.showDetailsDialog()">Info</md-button>
        </div>
    </div>

    <md-divider flex></md-divider>
</div>
