.gameItem
{
    cursor: pointer;
    background-color: #fff;

    &:hover
    {
        background-color: #eee;
    }

    .gameDetails
    {
        color: #999;
    }
}

.mapDescription
{
    /* Label of item. */
    :first-child
    {
        padding-right: 10px;
        font-weight: 600;
    }
}
