<md-dialog aria-label="Game details">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1><span>More about <strong>{{dg.game.Desc}}</strong></span></h1>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <div layout="row" flex>
                <div>
                    <sg-map service="dg.service" svg="dg.svg" header="false" arrows="false" />
                </div>
            </div>
            <div layout="column" flex>
                <div><h4>Name:</h4> {{dg.game.Desc}}</div>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button md-autofocus ng-click="dg.closeDialog()">
        Close
      </md-button>
</md-dialog>
