<md-dialog aria-label="Game details">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1><span>More about <strong>{{dg.service.game.Desc}}</strong></span></h1>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div layout="row" layout-padding>
            <div layout="column">
                <div><sg-map service="dg.service" svg="dg.svg" header="false" arrows="false" /></div>
            </div>
            <div layout="column">
                <div layout="row" class="mapDescription">
                    <span class="md-body-2">Name:</span>
                    <span class="md-body-2">{{dg.service.game.Desc}}</span>
                </div>

                <div layout="row" class="mapDescription">
                    <span class="md-body-2">Variant:</span>
                    <span class="md-body-2">{{dg.service.game.Variant}}</span>
                </div>

                <div layout="row" class="mapDescription">
                    <span class="md-body-2">Deadlines:</span>
                    <span class="md-body-2">Every {{dg.readableDuration}}</span>
                </div>

                <div layout="row" class="mapDescription">
                    <span class="md-body-2">Minimum Rating:</span>
                    <span class="md-body-2">{{dg.service.game.MinRating}}</span>
                </div>

                <div layout="row" class="mapDescription">
                    <span class="md-body-2">Max Rating:</span>
                    <span class="md-body-2">{{dg.service.game.MaxRating || '(none)'}}</span>
                </div>
            </div>
        </div>

        <div layout="column" layout-align="center center" layout-margin>
            <div layout="row">
                <md-button id="joinButton" ng-if="!dg.service.game.Started" class="md-raised md-primary" ng-disabled="dg.reasonForNoJoin()" ng-click="dg.joinGame()">Join</md-button>
                <md-button md-autofocus ng-click="dg.closeDialog()">Close</md-button>
            </div>
            <span class="noJoin" ng-if="!dg.service.game.Started && dg.reasonForNoJoin()">{{dg.reasonForNoJoin()}}</span>
        </div>
    </md-dialog-content>
</md-dialog>
