<div layout="column" layout-align="center center">
    <h1 class="md-display-2 typewriter">{{vm.service.game.Desc}}</h1>
    <h1 class="md-headline typewriter" ng-if="vm.currentUserInGame.Nation">Playing as {{vm.currentUserInGame.Nation}}</h1>
</div>

<div id="viewContainer" layout-gt-xs="row" layout-xs="column" layout-margin>
    <div flex="65" flex-xs="100">
        <sg-map service="vm.service" arrows="true" header="true" svg="vm.svg" />
    </div>

    <div layout="row" class="md-whiteframe-2dp" flex>
        <sg-game-tools layout="row" service="vm.service" flex />
    </div>
</div>
